---
layout: default
title: Posts
---

<head>
    <link rel="stylesheet" href="assets/css/posts.css">
</head>


<h1>Posts</h1>

<div class="lists">
    {% for tag in site.tags %}
    {% if tag[0] != "Test" %}
    <div class="{{ tag[0] |downcase }}-list list">
        <h2>{{ tag[0] | upcase }}S</h2>
        <hr>
        <ul>
            {% for post in tag[1] %}
            {% if forloop.index <= 5 %}
            <li>
                <a class="post-entry" href="{{ post.url }}">
                    <div class="post-date">{{ post.date | date_to_string }}</div>
                    <div class="post-title">{{ post.title | upcase }}</div>
                    <div class="post-desc">{{ post.description }}</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <button class="show-more-btn" id="{{ tag[0] | downcase }}-btn" onclick="toggleTagged('{{ tag[0] | downcase }}-hidden', '{{ tag[0] | downcase }}-btn')">Show more</button>
        <ul class="show-more" id="{{ tag[0] | downcase }}-hidden">
            {% for post in tag[1] %}
            {% if forloop.index > 5 %}
            <li>
                <a class="post-entry" href="{{ post.url }}">
                    <div class="post-date">{{ post.date | date_to_string }}</div>
                    <div class="post-title">{{ post.title | upcase }}</div>
                    <div class="post-desc">{{ post.description }}</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}

    <div>
        <h2>ALL POSTS</h2>
        <hr>
        <ul>
            {% for post in site.posts %}
            {% if forloop.index <= 5 %}
            <li>
                <a class="post-entry" href="{{ post.url }}">
                    <div class="post-date">{{ post.date | date_to_string }}</div>
                    <div class="post-title">{{ post.title | upcase }}</div>
                    <div class="post-desc">{{ post.description }}</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <button class="show-more-btn" id="all-list-btn" onclick="toggleTagged('all-hidden', 'all-list-btn')">Show more</button>
        <ul class="show-more" id="all-hidden">
            {% for post in site.posts %}
            {% if forloop.index > 5 %}
            <li>
                <a class="post-entry" href="{{ post.url }}">
                    <div class="post-date">{{ post.date | date_to_string }}</div>
                    <div class="post-title">{{ post.title | upcase }}</div>
                    <div class="post-desc">{{ post.description }}</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script src="/assets/js/posts.js"></script>