@media (prefers-color-scheme: light) {
  :root {
    --text: #101a0a;
    --background: #f9fcf8;
    --primary: #859e70;
    --secondary: #86df9e;
    --accent: #76c1b3;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ebf5e5;
    --background: #040703;
    --primary: #768f61;
    --secondary: #207938;
    --accent: #3e897b;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
