:root {
    --bg: #ECE8E4;
    --text: #18120B;
    --primary: #5D895E;
    --secondary: #FCE0C5;
    --accent: #EA7A0B;
}

@media (prefers-color-scheme: dark){
    :root {
        --bg: #1B1713;
        --text: #F6F5F3;
        --primary: #4194E6;
        --secondary: #0E3358;
        --accent: #1A73CB;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap');



body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;

    color: var(--text);
    background-color: var(--bg);

    margin: 0;
}

@import "header.scss"
