---
---

main {
    h2 {    
        margin-bottom: 0;
    }
}

sup {
    font-size: 0.6em;
    font-weight: 400;
    vertical-align: super;
    line-height: 0;

    a {
        color: var(--primary);
    }
}

.contact-list-item {
    font-size: clamp(1rem, 5vw, 1.5rem);
    max-width: 70vw;
}

.footnote {
    font-size: clamp(0.75rem, 2vw, 1.2rem);
    font-weight: 300;
    color: var(--primary);
    max-width: 80vw;
    margin-top: 1em;
}