---
---

.lists {
    width: 90vw;
}
.list hr {
    color: var(--text);
}
ul {
    list-style: none;
    padding: 0;
}
.post-entry {
    display: flex;
    text-decoration: none;
    border-bottom: 0.1em solid var(--secondary);
    width: fit-content;
    max-width: 110ch;

    div {
        font-size: clamp(1rem, 2vw, 2rem);
        color: var(--text);
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;

        transition: all 0.2s ease-in-out;
    }
    .post-title {
        &::before {
            content: "::";
            margin-right: 1rem;
        }
        &::after {
            content: "::";
            margin-left: 1rem;
        }
    }

    transition: all 0.2s ease-in-out;

    &:hover, &:focus {
        transform: translate(0.5rem, -0.1rem) scale(1.01);
    }
}
.show-more {
    visibility: collapse;
}
.show-more-btn {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem 0 1rem 0;
    font-size: clamp(1rem, 2vw, 2rem);
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--accent);
    }
}