* {
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
}


header {
    display: flex;
    column-gap: 2em;

    height: 5em;

    background-color: #555555;
}
.logo {
    display: flex;
    align-items: end;
    justify-content: start;
    column-gap: 0.25em;

    height: 5em;

    text-decoration: none;
}
#logo-logo {
    height: 4em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
#logo-sub {
    position: absolute;
    top: -3px;

    font-size: 2.5em;
    color: #FFFFFF;
}
#logo-domain {
    font-size: 2em;
    color: #FFFFFF;
}

.nav {
    font-size: 2em;
}
.nav ul {
    list-style-type: none;
}
.list {
    display: inline-block;
}
.list a{
    text-decoration: none;
    padding-right: 1em;
}
.list a::after {
    display: inline-block;
    content: "";
    color: #000000;
}


h1 {
    margin: 0px;
}
main {
    background-color: #222222;
    height: auto;
}
main p {
    margin: 0;
}
.hello, .like, .bye {
    text-align: center;
    font-size: 10em;
    padding-top: 45vh;
    padding-bottom: 65vh;
    color: #FFFFFF;
}

footer {
    background-color: #333333;
}
footer p {
    font-size: 1.5em;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}