* {
    font-family: "Noto Sans", sans-serif;
    background-color: #222222;
}

body {
    margin: 0;
}


.logo {
    display: flex;
    align-items: end;
    justify-content: start;
    column-gap: 0.25em;

    height: 5em;

    background-color: #555555;
}
#logo-logo {
    height: 4em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;

    background-color: inherit;
}
.logo-text {
    background-color: inherit;
}
#logo-sub {
    position: absolute;
    top: -3px;

    font-size: 2.5em;
    color: #FFFFFF;
    background-color: transparent;
}
#logo-domain {
    font-size: 2em;
    color: #FFFFFF;
    background-color: inherit;
}