<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/styles.css" rel="stylesheet">
    </head>

    <body>    
        <header>
            <div class="profile">
                <img src="/assets/images/Hardo-pfp.png" alt="Site picture">
                <div class="js-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="nav">
            {% include navigation.html %}
            </div>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <a href="https://github.hardo.dev">GitHub</a>
            <a href="#">Contact</a>
        </footer>
    </body>

    <script src="/assets/js/main.js"></script>
</html>
